-var name = "Israel Castro"
-var menus = ["Inicio", "Series", "Películas", "Novedades populares", "Mi lista"]
-var myaccount = ["Buscar", "Referidos", "Notificaciones", "Mi cuenta"]

mixin item(img, clasification, type, quality, tag1, tag2, tag3)
  .carousel__item
    .item__img
      img(src=img)
    .item__overlay
      .overlay__icons
        i.fas.fa-play
        i.fas.fa-plus
        i.far.fa-thumbs-up
        i.far.fa-thumbs-down
        i.fas.fa-chevron-down
      .overlay__type
        span.clasification=clasification
        span.type=type
        span.quality=quality
      .overlay__tags
        ul.tags
          li=tag1
          li=tag2
          li=tag3
    //- .overlay
    //-   .play-button
    //-     i.far.fa-play-circle
    //-   .description
    //-     span.title=title

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Netflix
    link(rel="stylesheet", href="./css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato&display=swap")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css")
    script(src="https://player.vimeo.com/api/player.js")
  body